.blu-button {
    min-width: 317px;
    height: 105px;
    background-color: darkblue;
    border-color: transparent;
    border-radius: 15px;
    align-self: center;
    justify-self: center;
    padding: 0px;
}

@media (max-height:851px){
    .blu-button {
        max-width: 293px;
        height: 67px;
        padding: 3px;
        align-self: center;
        justify-self: center;
    }
}